{% extends 'base.html' %}

{% block content %}

  <div class="padded-div">
    <div class="ui segment">
      <div class="ui two column grid">
        <div class="column">
          <h2 class="ui grey header">
          {{ team_name }}
          {% if team_lang_pref == 'C' %}
            <a class="ui grey label">C</a>
          {% else %}
            <a class="ui brown label">Java</a>
          {% endif %}  
          </h2>
          <ol class="ui list">
          {% for member in member_list %}
            <li value="">
              <strong>{{ member.full_name|title }}</strong>, {{ member.college_id }}
              <ul>
                <li value="-">{{ member.email }}</li>
                <li value="-">{{ member.mobile_no }}</li>
              </ul>
            </li>
          {% endfor %}
          </ol>
        </div>
        <div class="column">
          <h3 class="ui grey header">Programming Challenges</h3>
          <h2 class="ui green header">Total Score: {{ score }}</h2>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <table class="ui celled selectable structured table">
        <thead>
          <tr>
            <th>Question Number</th>
            <th>Input Case Number</th>
            <th>Correct Output</th>
            <th>Answered Output</th>
            <th>Points Earned</th>
          </tr>
        </thead>
        <tbody>
        {% for answer in evaluated_list %}
          <tr>
          {% if answer.inputcase_list %}
            <td rowspan="{{ answer.inputcase_list|length }}" class="ui center aligned">
              {{ answer.question_no }}<br>
              <a href="{% url 'scores:display_file' team_name=team_name question_no=answer.question_no %}" target="_blank">
                View Uploaded File
              </a>
            </td>
            {% for inputcase in answer.inputcase_list %}
              <td class="ui center aligned">{{ inputcase.inputcase_no }}</td>
              <td><pre>{{ inputcase.correct_output }}</pre></td>
              {% if inputcase.correct_output == inputcase.answered_output %}
                <td class="positive"><pre>{{ inputcase.answered_output }}</pre></td>
                <td><h2 class="ui center aligned header">{{ inputcase.points }}</h2></td>
              {% else %}
                <td class="negative"><pre>{{ inputcase.answered_output }}</pre></td>
                <td><h2 class="ui center aligned header">0</h2></td>
              {% endif %}
              </tr>

              {% if answer.inputcase_list|length != forloop.counter %}
                <tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}