.choices {
  padding: 4px;
  background: #dcdcdc;
  margin: 4px;
  cursor: pointer;
}

.choices:hover {
  background: #c0c0c0;
}

.selected {
  background: #a0a0a0;
}

#questions_panel {
  padding: 10px;
}