.choice {
  cursor: pointer;
}

.choice.answered {
  border-left: 3px solid #00b5ad;
  border-right: 3px solid #00b5ad;
  background-color: #eaeaea;
}

.choice:hover {
  background-color: #eaeaea;
}

#question-no {
  font-size: 18px;
  margin-top: 0;
}

#question-no-panel {
  text-align: center;
}

#question-text {
  font-size: 18px;
}

#question-text pre code {
  font-size: 16px;
}

pre code {
  border-radius: 4px;
}

.qno-panel-label {
  display: inline-block;
  width: 29px;
  height: 29px;
  padding-top: 5px;
  margin: 1px;
  border-radius: 2px;
  background-color: #eaeaea;
  color: #263238;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #1b1c1d;
}

.qno-panel-label.answered {
  background-color: #00b5ad;
  color: #fff;
}

.qno-panel-label:hover {
  background-color: #fff;
}

.qno-panel-label.answered:hover {
  background-color: #fff;
  color: #263238;
}

.qno-panel-label.current {
  background-color: #1b1c1d;
  color: #eaeaea;
  border: 1px solid #eaeaea;
}
