# Bytecode and cache
__pycache__/
*.py[cod]

# Virtualenv
venv/
.env

# Bower components
bower_components/
malvo/static/lib/

# User defined config
data/conf/secrets.json
data/conf/db.env
data/conf/app.env

# Logs (docker)
data/logs/gunicorn/gunicorn.log
data/logs/gunicorn/access.log
data/logs/nginx/access.log
data/logs/nginx/error.log
data/logs/data

# Postgres data (docker)
data/db/data/

# Admin static assets when deployed in development
malvo/static/admin/
