<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malvo</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <ul>
        <li><a href="{% url 'mcqs:index' %}">mcqs</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'teams:logout' %}">logout</a></li>
        {% else %}
            <li><a href="{% url 'teams:login' %}">login</a></li>
            <li><a href="{% url 'teams:register' %}">register</a></li>
        {% endif %}
    </ul>
    <hr>

    {% block content %}{% endblock %}

  {% block scripts %}{% endblock %}
</body>
</html>
