<div class="ui inverted vertical segment footer-inner">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Malvo</h4>
        <div class="ui inverted link list">
          <a href="{% url 'mcqs:index' %}" class="item">
            Multiple Choice Questions
          </a>
          <a href="{% url 'coding:index' %}" class="item">
            Challenges
          </a>
        </div>
      </div>
      <div class="seven wide column">
        <!-- <h4 class="ui inverted header">Malvo</h4> -->
        <p>Programming Contest Platform</p>
      </div>
    </div>
  </div>
</div>
