{% if request.path == '/' %}
<div class="ui inverted large fixed menu" style="background-color:#000;">
{% else %}
<div class="ui black inverted large fixed menu">
{% endif %}
  <div class="ui container">
    <a href="/" class="item header">malvo</a>
    <a href="{% url 'mcqs:index' %}" class="item">MCQs</a>
    <a href="{% url 'coding:index' %}" class="item">Challenges</a>
    {% if user.is_admin %}
      <a href="{% url 'scores:index' %}" class="item">Scores</a>
      <a href="{% url 'admin:index' %}" class="item">Admin</a>
    {% endif %}

    <div class="right menu">
    {% if user.is_authenticated %}
      <a href="{% url 'teams:profile' %}" class="item">Profile</a>
      <a href="{% url 'teams:logout' %}" class="item">Logout</a>
    {% else %}
      <a href="{% url 'teams:register' %}" class="item">Register</a>
      <a href="{% url 'teams:login' %}" class="item">Login</a>
    {% endif %}
    </div>
  </div>
</div>
