{% extends 'base.html' %}

{% block content %}

  <div style="padding-left:10px;padding-right:10px;">
    <div class="ui inverted segment">
      <h2 class="ui inverted header">
        {{ team_name }}
        {% if team_lang_pref == 'C' %}
          <a class="ui grey label">C</a>
        {% else %}
          <a class="ui brown label">Java</a>
        {% endif %}
        &middot; <a href="{% url 'scores:evaluate' team_name=team_name app='mcqs' %}">MCQs</a>
        &middot; Programming Challenges
      </h2>
      <h3 class="ui inverted header">Total Score: {{ score }}</h3>
    </div>
    <div class="ui segment">
      <table class="ui celled selectable structured table">
        <thead>
          <tr>
            <th>Question Number</th>
            <th>Input Case Number</th>
            <th>Correct Output</th>
            <th>Answered Output</th>
            <th>Points Earned</th>
          </tr>
        </thead>
        <tbody>
        {% for answer in evaluated_list %}
          <tr>
            <td rowspan="{{ answer.inputcase_list|length }}" class="ui center aligned">{{ answer.question_no }}</td>
            {% for inputcase in answer.inputcase_list %}
              <td class="ui center aligned">{{ inputcase.inputcase_no }}</td>
              <td><pre>{{ inputcase.correct_output }}</pre></td>
              {% if inputcase.correct_output == inputcase.answered_output %}
                <td class="positive"><pre>{{ inputcase.answered_output }}</pre></td>
                <td><h2 class="ui center aligned header">{{ inputcase.points }}</h2></td>
              {% else %}
                <td class="negative"><pre>{{ inputcase.answered_output }}</pre></td>
                <td><h2 class="ui center aligned header">0</h2></td>
              {% endif %}
              </tr>

              {% if answer.inputcase_list|length != forloop.counter %}
                <tr>
              {% endif %}
            {% endfor %}

        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}