{% extends 'base.html' %}

{% block content %}

<div class="ui container">
  <div class="ui two column stackable grid">
    <div class="column">
      <div class="ui segment">
      {% if status_dict %}
        <div class="ui divided selection list">
        {% for question_no, status in status_dict.items %}
          <a class="item">
            MCQ {{ question_no }}
            {% if status == 'S' %}
              <div class="ui green horizontal label right floated">Solved</div>
            {% elif status == 'U' %}
              <div class="ui grey horizontal label right floated">Unattempted</div>
            {% endif %}
          </a>
        {% endfor %}
        </div>
      {% else %}
        <h2>No information to display.</h2>
      {% endif %}
      </div>
    </div>

    <div class="center aligned column">
      <a class="ui primary button huge" href="{% url 'mcqs:questions' %}">Enter Arena</a>
    </div>
  </div>
</div>
{% endblock %}
