{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/gruvbox-dark.css' %}">
<link rel="stylesheet" href="{% static 'mcqs/css/style.css' %}" />
{% endblock %}

{% block content %}

<div class="ui grid" style="min-height: 700px;">
  <div class="one wide column"></div>

  <div class="eleven wide column">
    <div class="ui segment" id="question_and_choices_panel">
      <div id="question_text"></div>
      <div class="ui divider"></div>
      <div id="choices"></div>
    </div>
  </div>

  <div class="three wide column">
    <div class="ui segment center aligned" id="question_no"></div>
    <div id="question_no_panel" class="ui segment inverted"></div>
    <div>
      <button class="ui left basic attached button" id="prev_question">Previous</button>
      <button class="ui right basic attached button" id="next_question">Next</button>
    </div>
    <br>
    <button class="ui fluid button" id="submit_all">Submit all</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'lib/showdown/dist/showdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript">
  /* Previous answers
   * `Answers` contains question numbers as keys and answered choices as values.
   * Both keys and values are strings.
   */
  var Answers = {{ previous_answers|safe }};

  /* MCQs */
  var MCQs = {{ mcqs|safe }};

  /* Initialize Showdown MDtoHTML Converter */
  var showdownConverter = new showdown.Converter();
</script>
<script type="text/javascript" src="{% static 'mcqs/js/script.js' %}"></script>
{% endblock %}
