{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/gruvbox-dark.css' %}">
<link rel="stylesheet" href="{% static 'mcqs/css/style.css' %}" />
{% endblock %}

{% block content %}

<div class="ui small modal load-answers">
  <div class="header">
    You've un-uploaded answers saved in browser storage.
  </div>
  <div class="content">
    <p>Click Load Answers to load them into your current state. Or click Remove to delete them.</p>
  </div>
  <div class="actions">
    <button class="ui primary ok button">
      <i class="checkmark icon"></i>
      Load Answers
    </button>
    <button class="ui cancel button">
      <i class="remove icon"></i>
      Remove
    </button>
  </div>
</div>

<div class="ui small modal confirm-submit">
  <div class="header">
    You have not answered all questions.
  </div>
  <div class="content">
    Kindly solve all questions before submitting. Click on Continue submitting to submit anyways.
    Else click on Cancel.
  </div>
  <div class="actions">
    <button class="ui primary ok button">
      Continue submitting
    </button>
    <button class="ui cancel button">
      Cancel
    </button>
  </div>
</div>

<div class="ui small modal success-submit">
  <div class="header">
    Answers submitted successfully.
  </div>
  <div class="actions">
    <a class="ui primary button" href="{% url 'mcqs:index' %}">
      Exit Arena
    </a>
  </div>
</div>

<div class="padded-div" style="min-height: 700px;">
  <div class="ui grid">
    <div class="twelve wide column">
      <div class="ui grey segment" id="question-choices-panel" style="display: none;">
        <div id="question-text"></div>
        <div class="ui divider"></div>
        <div id="choices"></div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui inverted black segment">
        <h3 class="ui red header">
          <i class="wait icon"></i>
          <div class="content" id="timer">00:00:00</div>
        </h3>
        <h3 class="ui centered header" id="question-no"></h3>
      </div>
      <div class="ui segment">
        <div class="ui two buttons">
          <button class="ui left attached basic button" id="prev-question">
            Previous
          </button>
          <button class="ui right attached basic button" id="next-question">
            Next
          </button>
        </div>
      </div>
      <div class="ui segment inverted" id="question-no-panel"></div>
      <button class="ui fluid primary button" id="submit-all" data-inverted=""
        data-tooltip="Answers will be uploaded all at once" data-position="bottom left">
        Submit all answers
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'lib/showdown/dist/showdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/jquery.cookie/jquery.cookie.js' %}"></script>
<script type="text/javascript">
  var RemainingTime = {{ remaining_time }};

  /* Previous answers
   * `Answers` contains question numbers as keys and answered choices as values.
   */
  var Answers = {{ previous_answers|safe }};

  /* MCQs */
  var MCQs = {{ mcqs|safe }};
  // Sort MCQs according to qno
  MCQs.sort(function(a, b) { return a.qno - b.qno; });

  /* Initialize Showdown MDtoHTML Converter */
  var showdownConverter = new showdown.Converter();
</script>
<script type="text/javascript" src="{% static 'mcqs/js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
{% endblock %}
