.choice {
  cursor: pointer;
}

.choice:hover {
  background-color: #e0e0e0;
}

#question_no {
  font-size: 18px;
}

#question_text {
  font-size: 18px;
}

#question_text pre code {
  border-radius: 4px;
  font-size: 16px;
}

.qno-panel-label {
  display: inline-block;
  width: 29px;
  height: 29px;
  padding-top: 5px;
  margin: 2px;
  border-radius: 2px;
  background-color: #e0e0e0;
  color: #263238;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.answered {
  background-color: #00b5ad;
  color: #fff;
}